
//Daux.io Blue
  @sidebar-background: #343131;
  @sidebar-hover: #4E4A4A;
  @lines: #606060;
  @dark: #B3B3B3;
  @light: #A41E22;
  @text: #2d2d2d;
  @syntax-string: #022e99;
  @syntax-comment: #84989b;
  @syntax-number: #2f9b92;
  @syntax-label: #840d7a;

// Bootstrap
  @import "../../daux/less/bootstrap/variables.less";
  @import "../../daux/less/bootstrap/mixins.less";
  @icon-font-path: "../../daux/fonts/";

// Daux.io Base
  @import "theme-base.less";
